<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tire Change Booking</title>
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>

<!-- Flash Messages Section -->
<div class="flash-messages">
  <p th:if="${successMessage}" th:text="${successMessage}" class="success"></p>
  <p th:if="${errorMessage}" th:text="${errorMessage}" class="error"></p>
</div>

<div th:if="${not #lists.isEmpty(warnings)}" class="warnings">
  <ul>
    <li th:each="warning : ${warnings}" th:text="${warning}"></li>
  </ul>
</div>

<div class="filters">
  <h3>Filters:</h3>
  <label for="tireShopDropdown">Tire Shop:</label>
  <select id="tireShopDropdown" multiple>
    <option th:each="shop : ${tireShops}"
            th:value="${shop.name}"
            th:text="${shop.name}">
    </option>
  </select>

  <div id="vehicleTypeDropdownContainer">
    <label for="vehicleTypeDropdown">Vehicle Type:</label>
    <select id="vehicleTypeDropdown" multiple>
      <option th:each="vehicle : ${vehicleType}"
              th:value="${vehicle.name}"
              th:text="${vehicle.name}">
      </option>
    </select>
  </div>

  <div id="datePicker">
    <label for="dateRange">Select date range (from - until):</label>
    <input type="text" id="dateRange">
    <button id="applyFilters">Apply</button>
  </div>


</div>

<div class="results">
  <h3>Available Time Slots:</h3>
  <table id="resultsTable">
    <thead>
    <tr>
      <th>Tire Shop</th>
      <th>Address</th>
      <th>Time Slot</th>
      <th>Vehicle Type </th>
      <th>Create Booking </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${bookings}">
      <td th:text="${booking.tireShopName}"></td>
      <td th:text="${booking.tireShopAddress}"></td>
      <td th:text="${#temporals.format(booking.bookingTime, 'dd-MMMM-yyyy HH:mm ')}"></td>
      <td th:text="${booking.vehicleType}"></td>
      <td>
      <form action="/book-timeslot" method="post">
        <!-- Use 'booking' object fields for form values -->
        <input type="hidden" name="universalId" th:value="${booking.universalId}" />
        <input type="hidden" name="tireShopName" th:value="${booking.tireShopName}" />
        <!-- hidden field for contactInformation with a constant value -->
        <input type="hidden" name="contactInformation" value="defaultContact" />
        <button type="submit">Book</button>
      </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<script src="/js/script.js"></script>

</body>
</html>
</html>
