<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Available Tire Change Times</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Available Tire Change Times</h1>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Shop</th>-->
<!--        <th>Address</th>-->
<!--        <th>Time Slot</th>-->
<!--        <th>Vehicle Type</th> </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="booking : ${tireChangeBookings}">-->
<!--        <td th:text="${booking.tireShopName}"></td>-->
<!--        <td th:text="${booking.tireShopAddress}"></td>-->
<!--        <td th:text="${#temporals.format(booking.bookingTime, 'dd-MMMM-yyyy HH:mm ')}"></td>-->
<!--        <td th:text="${booking.vehicleType}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
